# prefix-crab-yarrp-buddy.service
# bare-metal

[Unit]
Description=A friend for yarrp
Wants=network-online.target
After=network-online.target

# https://www.freedesktop.org/software/systemd/man/latest/systemd.unit.html#Wants=
# Dependencies manually added!
Wants=prefix-crab-rabbitmq.service
After=prefix-crab-rabbitmq.service

[Service]
Type=simple
TimeoutStopSec=70
WorkingDirectory=/home/%u/prefix-crab/yarrp-buddy

ExecStartPre=cargo build --release
ExecStart=/home/%u/prefix-crab/deploy/run-with-rmq-pw.sh \
	/home/%u/prefix-crab/target/release/yarrp-buddy

OOMScoreAdjust=-10
ProtectSystem=full
ReadWritePaths=/home/%u/prefix-crab/yarrp-buddy/out

# https://www.freedesktop.org/software/systemd/man/latest/systemd.service.html#RestartSec=
# Additional manual restart settings
Restart=always
RestartSec=5s
RestartSteps=20
RestartMaxDelaySec=5m

[Install]
WantedBy=default.target
